body{
	background-color: #ffffff;
	margin: 0;
	font-family: 'Roboto Mono';
}
/*header*/
header{
	position: fixed;
	top:0;
	margin: 0;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	display: grid;
	grid-template-columns: auto auto auto;
}

/*header*/

main{
	display:grid;
	grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw 12vw ;
	grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
	margin-top: 70px;
	padding-top: 5vh;
	margin-bottom:30px;
	grid-gap: 2vw;
	padding-left: 20px;
}

a{
	text-decoration: none;
	color: #000000;
}

.asrednje:hover{
	color:gray;

}

.alevo:hover{
	color: gray;
}

.adesno:hover{
	color: gray;
}


#levo{
	font-size: 20px;
	color: #000000;
	width: auto;
	padding-bottom:11px;
	margin:0;
	padding: 10px 10px 10px 20px;
	margin: 0;
	justify-self: left;
}

#sredina{
	font-size: 22px;
	font-weight: 500;
	color: #000000;
	width: auto;
	padding-bottom:11px;
	margin:0;
	padding: 10px 10px 10px 10px;
	margin: 0;
	justify-self: center;
}
#desno{
	font-size: 20px; 
	color: #000000;
	padding-bottom:11px;
	width: auto;
	margin:0;
	padding: 10px 20px 10px 10px;
	margin: 0;
	justify-self: right;
}

#Mesec{
	font-size: 20px;
	justify-self: center;

}

.dan1{
	color: ;
	font-weight: 100;
}
.dan{
	font-weight: 500;
}
.dan:hover{
	color:darkgray;
}
